body{
    display: flex;
    justify-content: center;
    align-items: center;
}
table, th, td{
    border-collapse: collapse;
    border: 1px solid;
    text-align: center;
}
table{
    background-color:orange;
    
}
td{
    padding: 10px 20px;
}
.pic-wrapper{
    padding: 0;
}
.pic{
    height: 100px;
    width: 150px;
}